body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 100vh;
  margin: 0;
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

button {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.dibujo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
