* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
}
header {
  background-color: #dc3545;
  color: #fff;
  padding: 20px;
}
header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 20px;
}
nav a {
  color: #fff;
  text-decoration: none;
}
section {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
section ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
section li {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer p {
  font-size: 14px;
}
.backbutton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.menu-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-item {
  position: relative;
  border-radius: 20px;
  transition: all 0.8s ease;
}
.menu-item:hover {
  transform: scale(1.2, 1.2);
}
.img-comida:hover {
  opacity: 1;
  filter: contrast(105%);
}
.img-comida {
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.8;
  transition: all 0.8s ease;
}
.menu-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  z-index: 100;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}