body {
  padding: 50px;
  margin: 0;
  background-color: #636e8c;
  display: grid;
  place-items: center;
  font-family: Segoe UI;
}
.container {
  width: 50%;
  border: 10px solid #edf7f0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 15px 25px #4a536e;
}
.wrapper {
  width: 600%;
  display: flex;
  animation: slide 13s infinite;
}
img {
  width: calc(100%/6);
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  13% {
    transform: translateX(0);
  }
  16.6% {
    transform: translateX(-16.666%); 
  }
  30% {
    transform: translateX(-16.666%);
  }
  33.3% {
    transform: translateX(-33.333%); 
  }
  46% {
    transform: translateX(-33.333%);
  }
  50% {
    transform: translateX(-50%); 
  }
  63% {
    transform: translateX(-50%);
  }
  66.6% {
    transform: translateX(-66.666%); 
  }
  80% {
    transform: translateX(-66.666%);
  }
  83.3% {
    transform: translateX(-83.333%); 
  }
  100% {
    transform: translateX(-83.333%);
  }
}
.imagenes {
  display: flex;
  height: 250px;
  margin: 40px;
}
.imagen {
  filter: none;
  min-width: 0;
  flex: 1 1 10px;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s;
}
.imagen:hover {
  fill: none;
  flex: 1 1 25%;
  opacity: 1;
}
.banner {
  width: 100%;
  height: 50px;
  color: white;
  text-shadow: rgb(255, 255, 255) 12px 7 20px;
  font-size: 1.2rem;
}
.txtovim {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.text {
  background-color: rgb(33, 33, 33, 0.5);
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 25px;
}
.imagen-footer {
  width: 75px;
  margin: auto;
}
.container2{
  margin: 20px;
  background-color: #4a536e;
  padding: 20px;
  border-radius: 15px;
}
input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  transition: 0.3s;
}
input:focus {
  border: 2px solid #636e8c;
  outline: none;
  background-color: #f1fff1;
}
button {
  background-image: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  opacity: 0.9;
}
.button-otra {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}