/* ====== ESTILOS GENERALES ====== */
body {
    background-color: #1b263b;      /* Azul oscuro elegante */
    font-family: Segoe UI, sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e1dd;
}

/* ====== CONTENEDOR DE IMÁGENES ====== */
.imagenes-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    margin: 25px;
    background-color: #415a77;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.imagenes-contenedor img {
    width: 200%;
    margin: 18px;
    opacity: 0.75;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.imagenes-contenedor img:hover {
    transform: scale(1.08);
    opacity: 1;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

/* ====== BARRA DE NAVEGACIÓN ====== */
.nav-menu {
    background-color: #415a77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* contenedor del texto y logo */
.nav-text {
    display: flex;
    align-items: center;
}

/* título */
.nav-text h1 {
    font-size: 2.8rem;
    margin-right: 30px;
    color: #e0e1dd;
}

/* enlaces dentro del nav */
.nav-text a {
    text-decoration: none;
    color: #e0e1dd;
    transition: 0.3s;
}
.nav-text a:hover {
    color: #a8dadc;
}

/* botones del menú */
.nav-a {
    font-size: 1.3rem;
    border: 2px solid #e0e1dd;
    border-radius: 6px;
    color: #e0e1dd;
    margin: 10px;
    padding: 10px 18px;
    background-color: #0d1b2a;
    transition: all 0.3s ease;
}

.nav-a:hover {
    background-color: #778da9;
    color: #0d1b2a;
    transform: scale(1.1);
}

/* ====== FORMULARIO ====== */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #415a77;
    padding: 25px;
    margin: 25px;
    border-radius: 18px;
    font-size: 1.4rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* cada parte del formulario */
.form-part {
    margin: 12px;
    padding: 15px;
    width: 80%;
    background: #778da9;
    border-radius: 10px;
    border: 1px solid #0d1b2a;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.form-part:hover {
    background-color: #6c7f99;
}

/* input */
.form-part input[type=text] {
    border: none;
    margin-top: 12px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    background-color: #e0e1dd;
    color: #0d1b2a;
}

/* focus del input */
.form-part input[type=text]:focus {
    background: #f8f9fa;
    transform: scale(1.03);
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
}
