:root {
  --primary-color: #0d0d0d;
  --secondary-color: #ffffdf;
}

/* === GLOBAL === */
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

/* === HERO === */
.hero {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 180px;
  flex-wrap: wrap;
}

.hero-intro {
  text-align: center;
  max-width: 600px;
}

.hero-img {
  position: absolute;
  left: 10px;
}

.hero-img img {
  height: 150px;
  width: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* === CONTENT === */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-intro {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  max-width: 700px;
}

.content-info {
  padding: 10px;
  margin: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

/* === INFO CARDS === */
.info-card {
  flex: 1;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-align: center;
  border: 2px solid var(--secondary-color);
  transition: 0.4s ease-in-out;
}

.info-card:hover {
  background-color: var(--primary-color);
  color:
