:root {
  --primary-color: #000000;
  --secondary-color: #39ef33;
}
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: Segoe UI;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero-img img {
  width: 8%;
}
.hero-content {
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  align-items: center;
}
.hero-buttons {
  padding: 8px;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: stretch;
}
.hero-buttons a{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.hero-buttons:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.info-intro {
  margin: 20px;
  font-size: 1.5rem;
  color: white;
}
.main-serie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.serie {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serie-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
}
.serie img {
  width: 70%;
  border-radius: 10px;
  transition: all 0.3s eas;
}
.serie-info {
  align-items: center; 
  margin: 20px;
  padding: 15px; 
  font-size: 2rem;
  margin: 20px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  transition: all 0.5s ease;  
}
.serie-info:hover{
  background-color: var(--primary-color);
}
.serie-info:hover a{
  color: var(--secondary-color);
}
.serie a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.5s ease;
}
.card {
  display: flex;
  flex-direction: row;
}
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33.33%;
  padding: 15px;
  font-size: 1.5rem;
  background-color: #474747;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
}
.info-card p {
  color: white;
}
.info-card-img img {
  width: 50%;
  border-radius: 10px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px;
}
.img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-gallery img {
  width: 90%;
  transition: all 0.3s ease;
}
.img-gallery img:hover {
  transform: scale(1.1);
  border-radius: 10px;
}
footer{
  background-color: #666666;
  display: flex;
}
.main-footer{
  display: flex;
  flex-direction: column;
}
.footer-info{
  margin-left: 150px;
  font-size: 1.8rem;
  padding: 10px;
}
.footer-info a{
  margin: 100px;
  text-decoration: none;
  color: white;
}
.footer-copy{
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
}