body {
  background-color: #0d0b1a;
  font-family: Segoe UI;
  color: #5d5fef;
}
.hero {
  background-color: #1a1a2e;
  display: flex;
  align-items: center;
}
.hero-intro {
  margin: 25px;
  font-size: 1.4rem;
}
section {
  display: flex;
  height: 600px;
  width: 800px;
}
section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.5s ease;
  border: 4px solid transparent;
}
section img:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(110%);
  animation: cicloColores 4s linear infinite;
}
@keyframes cicloColores {
  0% {
    border-color: #3b1c47;
  }
  25% {
    border-color: #d1d1e9;
  }
  50% {
    border-color: #5d5fef;
  }
  75% {
    border-color: #2a0e35;
  }
  100% {
    border-color: #3b1c47;
  }
}
.gallery {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #0d0b1a, #3b1c47);
  border-radius: 20px;
}
.gallery h2 {
  text-shadow: #d1d1e9 1px 0 20px;
}