:root {
  --primary-color: #c0c0c0;
}
* {
  /*border: solid 1px red;*/
  font-family: Segoe UI;
}
body {
  background-color: var(--primary-color);
  color: white;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6c757d;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
}
.img-header {
  width: 150px;
}
.nav {
  display: flex;
  margin: 20px;
  padding: 10px;
}
.nav a {
  margin: 35px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
main {
  display: flex;
  flex-direction: column;
  padding: 35px;
  font-size: 1.3rem;
}
.intro {
  background-image: url("../imgs/camion2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 50px;
  height: 500px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  font-size: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.mision-vision {
  display: flex;
  padding: 20px;
}
.cont {
  margin: 35px;
  padding: 20px;
  text-align: center;
  background-color: #6c757d;
  border-radius: 20px;
  opacity: 0.7;
  transition: all 0.6s ease;
}
.cont:hover {
  opacity: 1;
  transform: scale(1.05);
}
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
  margin: 20px;
  height: 850px;
}
.serv-class1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../imgs/camion3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  border-radius: 20px;
}
.serv-class2{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('../imgs/carros.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  border-radius: 20px;
}
.alcance{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  padding: 20px;
  background-color: #6c757d;
  border-radius: 20px;
  gap: 10px;
}
.alcance-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.alcance-img img{
  border-radius: 20px;
}
footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
footer *{
  background-color: #6c757d; 
  border-radius: 20px;
  margin: 20px;
}
.footer-copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}
.footer-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
}
.footer-links a{
  margin: 0 15px;
  text-decoration: none;
  color: white;
}